<form method="POST" action="/criar-login" class="formulario">
    <input type="text" name="nome" placeholder="Nome"><p>
    <input type="text" name="usuario" placeholder="Usuario"><p>
    <input type="text" name="senha" placeholder="Senha"><p>
    <button type="submit" class="alt">Inserir</button>
</form>