<form method="POST" action="/adicionar-livro" class="formulario">
    <input type="text" name="nome" placeholder="Nome"><p>
    <input type="text" name="autor" placeholder="Autor"><p>

    <p>Tipo:</p>    
    <input type="radio" name="tipo" value="Livro">
    <label for="Livro">Livro</label><br>

    <input type="radio" name="tipo" value="HQ">
    <label for="HQ">HQs</label><br>

    <input type="radio" name="tipo" value="DVD">
    <label for="DVD">DVD</label><br>

    <input type="radio" name="tipo" value="CD">
    <label for="CD">CD</label><p>

    <button type="submit" class="alt">Inserir</button>
</form>