<div id="login">
    <form method="Post" action="valida-login">
        <input type="text" name="usuario" placeholder="Usuario" required>
        <input type="password" name="senha" placeholder="Senha" required>
        <button type="submit" class="alt">Entrar</button>
        {{msg}}
    </form>
    <a href="/cadastro">Fazer cadastro</a>
</div>
