<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <title>{{titulo}}</title>
</head>

<body>
   

    <section id="conteudo">
        <div id="login">
            <form method="Post" action="valida-login">
                <p class="texto">-ST4TIC LOGIN-</p>
                <input type="text" name="usuario" placeholder="Usuario" required><p>
                <input type="password" name="senha" placeholder="Senha" required><p>
                <button type="submit" class="alt">ENTRAR</button><p>
                {{msg}}<p>
                <a href="/cadastro" class="alt">Não possui cadastro?</a>
            </form>

        </div>
    </section>

</body>

</html>